.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #fff;
}

.copyright{
    padding: 15px 0 10px;
    font-size: 13px;
    text-align: center;
    color: #555555;
    border-top: 1px solid #eaeaea;
}